# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
.recommenders/*
.gradle*

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build/

# other
eclipse
run
*.blend1

src/generated/*
logs/*
/git/
processing_scripts/icon_generator/icons/*
processing_scripts/database_update/caches/*
processing_scripts/json_cleanup/inputs/*
processing_scripts/json_cleanup/outputs/*
**/__pycache__/*

**/template_worlds/main_structures/DIM*
**/template_worlds/main_structures/t*
**/template_worlds/main_structures/w*
**/template_worlds/main_structures/s*
**/template_worlds/main_structures/a*
**/template_worlds/main_structures/d*
**/template_worlds/main_structures/g*
**/template_worlds/main_structures/e*
**/template_worlds/main_structures/la*
**/template_worlds/main_structures/p*
/.apt_generated_tests/
