
# Mob Brain related

public net.minecraft.world.entity.ai.Brain sensors # sensors
public net.minecraft.world.entity.ai.Brain memories # memories
public net.minecraft.world.entity.ai.Brain availableBehaviorsByPriority # availableBehaviorsByPriority
public net.minecraft.world.entity.ai.Brain activityRequirements # activityRequirements

# General Entity related

public net.minecraft.world.entity.Entity dimensions # dimensions
public net.minecraft.world.entity.Entity level # level

# Server Player related

public net.minecraft.server.level.ServerPlayer isChangingDimension # isChangingDimension
